
<h2> this is the review page! please leave your reviews!! 🐱</h2>


<form action="/create-reviews" method="POST">
    <h2>Create the reviews!!</h2>
    {{!-- <label for="date">Date:</label>
    <input id ="date" type="date">  --}}

{{!--{{#each coaches}} --}}

<label for="category">Category:</label>
    <select name="category" id="category">
        <option value="life">Life</option>
        <option value="sport">Sport</option>
        <option value="career">Career</option>
        <option value="style">Style</option>
    </select>
    

    <label for="location">Location:</label>
    <select name="location" id="locations">
        <option value="Paris">Paris</option>
        <option value="Nantes">Nantes</option>
        <option value="Lyon">Lyon</option>
        <option value="Lyon">Nice</option>
        <option value="Bordeaux">Bordeaux</option>
        <option value="Lille">Lille</option>
        <option value="Marseille">Marseille</option>
    </select>

            <label>
        Reviews:
        <input type="text" name="text" />
    </label>

    <button> Create the reviews</button>
</form>


<ul>
    {{#each reviews}}
        <p>{{this.category}}</p>
        <p>{{this.location}}</p>
        <p>{{this.text}}</p>
        <p>{{this.coach.name}}</p>
        <p>{{this.user.email}}</p>


    {{/each}}

</ul>



<!--

    <label for="coach">coach:</label>
    <select name="coach" id="coach">
        <option value="beyonce">Beyonce</option>
        <option value="kardelen">Kardelen</option>
        <option value="oprah">Oprah</option>
        <option value="tom-cruise">Tom cruise</option>
    </select>

        -->
    
    



<!--
<script src="https://use.fontawesome.com/a6f0361695.js"></script>

    <h2>Write a review✏️  </h2>

<form id="feedback" action="">
    <div class="pinfo">Your personal info</div>

<div class="form-group">
    <div class="review-containter">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
    <input name="email" type="email" class="form-control" placeholder="john.doe@yahoo.com">
    </div>
    </div>
    </div>


<div class="pinfo">Date of courses</div>
<div class="form-group">
    <div class="review-containter">
    <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-globe"></i></span>
    <input  name="date" placeholder="date of courses" class="form-control"  type="date">
    </div>
    </div>
</div>

<div class="pinfo">Rate our overall classes.</div>

    <div class="form-group">
    <div class="review-containter">
    <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-heart"></i></span>
    <select class="form-control" id="rate">
        <option value="1star">1</option>
        <option value="2stars">2</option>
        <option value="3stars">3</option>
        <option value="4stars">4</option>
        <option value="5stars">5</option>
    </select>
    </div>
    </div>
</div>

    <div class="pinfo">Write your feedback.</div>

<div class="form-group">
    <div class="review-containter">
    <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
    <textarea class="form-control" id="review" rows="3"></textarea>
    </div>
    </div>
</div>
<button type="submit" class="btn btn-primary">Send a review ✏️</button>

</form>

--!>